# CityBikes

Send a request to CityBikes for the city of your choice.

In [2]:
import requests
import json
import pandas as pd
import csv

In [ ]:
# MAKE THE API CALL TO GET ALL THE NETWORKS
url = 'https://api.citybik.es/v2/networks'
response = requests.get(url)

networks_data = response.json()
bike_networks_df = pd.json_normalize(networks_data['networks'])

# SAVE RESULTS TO CSV FILE
bike_networks_df.to_csv("../csv_folder/df_networks.csv")

In [4]:
# CREATE AN EMPTY PYTHON LIST
results = []

# CALL CITYBIK API
url = "https://api.citybik.es/v2/networks/bixi-toronto"

response = requests.get(url)

if response.status_code == 200:
    results.append(response.json())
else:
    print(f"Request failed with status code {response.status_code}")
    print(f"Response content: {response.text}")

# SAVE RESULTS TO JSON FOLDER
with open("../json_folder/citybik.json", "w") as outfile:
    json.dump(results, outfile, indent=4)

print("Done. Total responses saved:", len(results))

Done. Total responses saved: 1

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [ ]:
# LOAD DATA FROM JSON
city_bikes = json.load(open("../json_folder/citybik.json"))

# PARSE THROUGH JSON
city_bikes_df =[]
for entry in city_bikes[0]['network']['stations']:
    city_bikes_df.append((entry['name'], entry['latitude'], entry['longitude'],entry['timestamp'],entry['free_bikes'],entry['empty_slots'], entry['extra']['renting'],entry['extra']['returning'],entry['extra']['ebikes']))

Put your parsed results into a DataFrame.

In [ ]:


city_bikes_df = pd.DataFrame(city_bikes_df, columns=['name','latitude','longitude','timestamp','free_bikes','empty_slots','renting','returning','ebikes'] )

# WRITE DATAFRAME TO CSV
city_bikes_df.to_csv("../csv_folder/city_bikes_df.csv")


city_bikes_df

,name,latitude,longitude,timestamp,free_bikes,empty_slots,renting,returning,ebikes
0,Summerhill Ave / Maclennan Ave,43.685924,-79.376304,2025-07-29T03:42:28.795612+00:00Z,3,5,1,1,0
1,Queen St E / Joseph Duggan Rd,43.667763,-79.308117,2025-07-29T03:42:28.933107+00:00Z,10,9,1,1,1
2,Victoria Park Ave / Danforth Ave,43.691468,-79.288619,2025-07-29T03:42:28.879177+00:00Z,2,16,1,1,0
3,Navy Wharf Crt / Bremner Blvd,43.640722,-79.391051,2025-07-29T03:42:28.733970+00:00Z,2,4,1,1,0
4,420 Wellington St W,43.643834,-79.396649,2025-07-29T03:42:28.788527+00:00Z,4,9,1,1,0
...,...,...,...,...,...,...,...,...,...
932,457 King St W,43.645209,-79.396074,2025-07-29T03:42:28.791021+00:00Z,5,12,1,1,0
933,Danforth Ave / Coxwell Ave,43.683378,-79.322961,2025-07-29T03:42:28.788025+00:00Z,14,1,1,1,5
934,Bloor St W / Brock Ave,43.658988,-79.438715,2025-07-29T03:42:28.879738+00:00Z,0,10,1,1,0
935,Wells Hill Ave / St. Clair Ave W,43.683351,-79.415620,2025-07-29T03:42:28.791375+00:00Z,0,15,1,1,0
936,Bay St / Dundas St W,43.655351,-79.383460,2025-07-29T03:42:28.934625+00:00Z,1,52,1,1,0

In [ ]:
# CHECK FOR NULLS
city_bikes_df[city_bikes_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [name, latitude, longitude, timestamp, free_bikes, empty_slots, renting, returning, ebikes]
Index: []